* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  color: white;
  font-family: Signika;
  font-weight: 400;
}

@font-face {
  font-family: "Signika";
  font-style: normal;
  font-weight: 400;

  src: local(""),
    url("../../public/fonts/signika-v19-latin-regular.woff2") format("woff2"),
    url("../../public/fonts/signika-v19-latin-regular.woff") format("woff"),
    url("../../public/fonts/signika-v19-latin-regular.ttf") format("truetype"),
    url("../../public/fonts/signika-v19-latin-regular.svg#Signika")
      format("svg");
}

@font-face {
  font-family: "Signika";
  font-style: normal;
  font-weight: 600;

  src: local(""),
    url("../../public/fonts/signika-v19-latin-600.woff2") format("woff2"),
    url("../../public/fonts/signika-v19-latin-600.woff") format("woff"),
    url("../../public/fonts/signika-v19-latin-600.ttf") format("truetype"),
    url("../../public/fonts/signika-v19-latin-600.svg#Signika") format("svg");
}
